body 
{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu{
  text-align: left;
  display:inline-block;
  }

input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ffb6b6;
    border-radius: 4px;
    box-sizing: border-box;
    
  }

  input[type=password], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ffb6b6;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=number], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ffb6b6;
    border-radius: 4px;
    box-sizing: border-box;
  }

  
  button {
    width: 50%;
    background-color: #a780f0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #a780f0;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }